<form action="/answer" data-turbo="false" method="get" class="form-control">
  <label for="question">Talk to your coach</label><br>
  <input id="question" type="text" placeholder="ask your coach" name="question">
  <input type="submit" value="Ask" class="btn btn-primary">
</form>
