<form action="/answer" data-turbo="false" method="get">
  <label for="question">Talk to your coach</label><br>
  <input id="question" type="text" placeholder="ask your coach" name="question">
  <input type="submit">
</form>
